@page "/inventories"

@inject NavigationManager NavigationManager;

<h3>InventoryList</h3>
<br />
<SearchInventoryComponent 
    OnSearchInventory="OnInventorySearch"></SearchInventoryComponent>
<br />
<InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>
<br />
<button 
    type="button" 
    class="btn btn-primary"
    @onclick="AddInventory">Add Inventory</button>

@code {
    private string searchTerm = string.Empty;

    // OnSearchInventory is EventCallback in child comp SearchInventoryComponent that will invoke this method on click and send string data from child to this method
    private void OnInventorySearch (string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }
}
